<div>
	<h1 class="view-title">
        应用管理
    </h1>

    <div class="view-content">
    	<div class="view-content-search clearfix">
	    	<div class="fr">
	    		<input type="text" class="search-text fl" placeholder="请输入应用名称..." ng-model="searchInput" />
	    		<span class="fa fa-search search-button fl"></span>
	    	</div>	
    	</div>

    	<div class="appManage-table">
	    	<table>
		    	<thead>
			    	<tr>
			    		<th>ID</th>
			    		<th>应用名称</th>
			    		<th>应用实例</th>
			    		<th>运行状态</th>
			    		<th>创建时间</th>
			    		<th>数据中心</th>
			    		<th>发布人员</th>
			    		<th>操作</th>						
			    	</tr>
			    </thead>
			    <tbody ng-repeat=" list in appManageList | filter:searchInput ">
			    	<tr ng-repeat=" item in list.deployments ">
			    		<td> {{$index+1}}</td>
			    		<td> {{item.deploy.metadata.name}} </td>
			    		<td>
			    			<p ng-repeat="i in item.podList.items">
			    				{{i.metadata.name}}
			    			</p>
			    		</td>
			    		<td>
			    			<p ng-repeat="i in item.podList.items">
								<span class="state-back">
									<a  class="state-defult" ng-class="{'state-running': i.status.phase == 'Running','state-pending': i.status.phase == 'Pending','state-failed': i.status.phase == 'Failed','state-succeeded': i.status.phase == 'Succeeded','state-unknown': i.status.phase == 'Unknown'}"></a>
								</span>
			    			</p>
			    		</td>
			    		<td>
			    			<p ng-repeat="i in item.podList.items">
			    				{{i.metadata.creationTimestamp}}
			    			</p>
			    		</td>
			    		<td> {{list.dcName}} </td>
			    		<td> {{item.deploy.spec.selector.matchLabels.author}} </td>
			    		<td>
			    			<span>
			    				<button class="button-Upgrade" ng-click="toUpdate(list.dcName,item,list.dcId)">升级</button>
			    				<button class="button-Rollback">回滚</button>
			    				<button class="button-Capacity">扩容</button>
			    				<button class="button-Delete">删除</button>
			    			</span>
			    		</td>
			    	</tr>
			    </tbody>
	    	</table>
    	</div>
    </div>

	<div loading class="loading" total="1" complete="complete"></div>

	<window config="updateConfig" ng-if="window.update">
		<div class="window-tab clearfix">
			<div class="tab-switch fl" ng-class="{active:tabSwitch==0}" ng-init="tabSwitch=0" ng-click="tabSwitch=0">
				<i class="fa fa-home"></i> 滚动升级
			</div>
			<div class="tab-switch fl" ng-class="{active:tabSwitch==1}" ng-click="tabSwitch=1">
				<i class="fa fa-user"></i> 立即升级
			</div>
		</div>


		<form class="tab-form" ng-submit="submit(param)" name="dataSubmit">
			<div class="tab-content" ng-class="{'active show':tabSwitch==1}">
				<div>
					<p>
						<span>应用名称：</span> <b>应用名错误</b>
					</p>
					<p>
						<input type="text" ng-model="param.appName" readonly />
					</p>
				</div>
				<div>
					<p>
						<span>数据中心：</span> <b></b>
					</p>
					<p>
						<input type="text" ng-model="dcName" disabled />
					</p>
				</div>
				<div>
					<p>
						<span>升级镜像：</span> <b ng-show="rollShow">镜像名称不统一</b>
					</p>
					<p>
						<input type="text" ng-click="getImageList()" ng-model="image" required  readonly/>
					</p>
				</div>
				<div>
					<p>
						<span>升级原因：</span> <b></b>
					</p>
					<p>
						<input type="text" ng-model="param.comments" />
					</p>
				</div>
			</div>
			<div class="tab-content" ng-class="{'active show':tabSwitch==0}">qwe</div>
		
			<div class="button-wrap">
				<button class="button-Submit" ng-disabled="dataSubmit.$invalid">提交</button>
				<!-- <input type="button" class="button-submit" id="select" value="取消"> -->
			</div>
		</form>


	</window>
	<window config="imgSelectConfig" ng-if="window.select">
        <div class="window-select clearfix">
            <div class="filter-text">
                <input type="text" ng-model="imageInput"/>
            </div>


            <div class="filter-result">
                <ul class="filter-list">
                    <li ng-repeat="item in imageList | filter:imageInput" class="clearfix"
                        ng-click="selectImage(item)">
                        <i class="fl">{{$index + 1}}</i>
                        <p>{{item}}</p>
                    </li>
                </ul>

            </div>


        </div>
    </window>



</div>
