<div>
	<h1 class="view-title">
        应用管理
    </h1>

    <div class="view-content">

    	<div class="view-content-search clearfix">
	    	<div class="fr">
	    		<input type="text" class="search-text fl" placeholder="请输入应用名称..." ng-model="searchInput" />
	    		<span class="fa fa-search search-button fl"></span>
	    	</div>	
    	</div>

    	<div class="appManage-table">
	    	<table>
		    	<thead>
			    	<tr>
			    		<th>ID</th>
			    		<th>应用名称</th>
			    		<th>应用实例</th>
			    		<th>运行状态</th>
			    		<th>创建时间</th>
			    		<th>数据中心</th>
			    		<th>发布人员</th>
			    		<th>操作</th>						
			    	</tr>
			    </thead>
			    <tbody ng-repeat=" list in ::appManageList | filter:searchInput ">
			    	<tr ng-repeat=" item in ::list.deployments ">
			    		<td> {{ $index+1 }}</td>
			    		<td> {{ item.deploy.metadata.name }} </td>
			    		<td>
			    			<p ng-repeat="i in item.podList.items">
			    				{{ i.metadata.name }}
			    			</p>
			    		</td>
			    		<td ng-repeat="i in item.podList.items">
			    			<p> 
								<span class="state-back">
									<a  class="state-defult" ng-class="{'state-running': i.status.phase == 'Running','state-pending': i.status.phase == 'Pending','state-failed': i.status.phase == 'Failed','state-succeeded': i.status.phase == 'Succeeded','state-unknown': i.status.phase == 'Unknown'}"></a>
								</span>
			    			</p>
			    		</td>
			    		<td>
			    			<p ng-repeat="i in item.podList.items">
			    				{{ i.metadata.creationTimestamp }}
			    			</p>
			    		</td>
			    		<td> {{ list.dcName }} </td>
			    		<td> {{ item.deploy.spec.selector.matchLabels.author }} </td>
			    		<td>
			    			<span>
			    				<button class="button-Upgrade">升级</button>
			    				<button class="button-Rollback">回滚</button>
			    				<button class="button-Capacity">扩容</button>
			    				<button class="button-Delete">删除</button>
			    			</span>
			    		</td>
			    	</tr>
			    </tbody>
	    	</table>
    	</div>
    </div>
</div>
