<div>
    <h1 class="view-title">创建服务</h1>

    <div class="view-content">
        <h1 class="view-content-title">
            服务配置
        </h1>
        <form name="service">
            <div class="form-group">
                <div class="form-desc">
                    <label>服务名称:</label>
                    <span>服务名是您将要创建的服务的名称,组织内唯一</span>
                </div>
                <input type="text" class="form-input" ng-model="serviceData.serviceName">
            </div>

            <div class="form-group">
                <div class="form-desc">
                    <label>数据中心:</label>
                    <span>数据中心是您的应用将要部署到的位置</span>
                </div>
                <div class="form-data-center clearfix">
                    <label class="fl" ng-repeat="item in serviceDateCenter" ng-class="{'active': serviceData.dcIdList[$index]}">
                        {{item.name}}
                        <input type="checkbox" ng-model="serviceData.dcIdList[$index]" ng-true-value="{{item.id}}">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-desc">
                    <label>服务类型:</label>
                </div>
                <div class="form-data-center clearfix" ng-init="serviceRadio = 0">
                    <label class="fl"  ng-class="{'active': serviceRadio == 0}">
                        ClusterIP
                        <input type="radio" name="serviceType" ng-model="serviceRadio" value="0">
                    </label>
                    <label class="fl"  ng-class="{'active': serviceRadio == 1}">
                        NodePort
                        <input type="radio" name="serviceType" ng-model="serviceRadio" value="1">
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-desc clearfix">
                    <label class="fl">选择器:</label>
                    <i class="fa fa-plus-square fr" ng-click="addSelector()"></i>
                </div>
                <div class="repeat-group clearfix" ng-repeat="item in selector">
                    <div class="input-group fl">
                        <span class="input-group-name fl">Key</span>
                        <input type="text" class="input-two fl" ng-model="item.key">
                    </div>
                    <div class="input-group-connect fl">—</div>

                    <div class="input-group fl">
                        <span class="input-group-name fl">Value</span>
                        <input type="text" class="input-two fl" ng-model="item.value">
                    </div>
                    <i class="fa fa-minus-square fr" ng-click="deleteSelector($index)"></i>
                </div>
            </div>

            <div class="form-group">
                <div class="form-desc clearfix">
                    <label class="fl">端口组:</label>
                    <i class="fa fa-plus-square fr" ng-click="addServicePort()"></i>
                </div>

                <div ng-repeat="item in serviceData.service.spec.ports">
                    <div class="repeat-group clearfix">
                        <div class="input-group fl">
                            <span class="input-group-name fl">名称</span>
                            <input type="text" class="input-two fl" ng-model="item.name">
                        </div>
                        <div class="input-group-connect fl">—</div>

                        <div class="input-group fl">
                            <span class="input-group-name fl">TargetPort</span>
                            <input type="number" class="input-two fl" ng-model="item.targetPort">
                        </div>

                        <i class="fa fa-minus-square fr" ng-click="deleteServicePort($index)"></i>
                    </div>

                    <div class="repeat-group clearfix">
                        <div class="input-group fl">
                            <span class="input-group-name fl">Port</span>
                            <input type="number" class="input-two fl" ng-model="item.port">
                        </div>
                        <div class="input-group-connect fl">—</div>

                        <div class="input-group fl">
                            <span class="input-group-name fl">NodePort</span>
                            <input type="number" class="input-two fl" ng-model="item.nodePort" ng-readonly="serviceRadio == 0">
                        </div>
                    </div>
                    <div class="repeat-group clearfix">
                        <div class="input-group fl">
                            <span class="input-group-name fl">协议</span>
                            <select class="input-thr fl" ng-model="item.protocol" ng-options="x for x in protocolArray"></select>
                        </div>
                    </div>

                </div>

            </div>

            <div class="form-group">
                <div class="form-desc clearfix">
                    <label class="fl">标签组:</label>
                    <i class="fa fa-plus-square fr" ng-click="addServiceLabel()"></i>
                </div>
                <div class="repeat-group clearfix">
                    <div class="input-group fl">
                        <span class="input-group-name fl">Key</span>
                        <input type="text" class="input-two fl" value="Name" readonly/>
                    </div>
                    <div class="input-group-connect fl">—</div>

                    <div class="input-group fl">
                        <span class="input-group-name fl">Value</span>
                        <input type="text" class="input-two fl" ng-model="serviceData.service.metadata.labels.name" readonly/>
                    </div>
                </div>
                <div class="repeat-group clearfix">
                    <div class="input-group fl">
                        <span class="input-group-name fl">Key</span>
                        <input type="text" class="input-two fl" value="Author" readonly/>
                    </div>
                    <div class="input-group-connect fl">—</div>

                    <div class="input-group fl">
                        <span class="input-group-name fl">Value</span>
                        <input type="text" class="input-two fl" ng-model="serviceData.service.metadata.labels.author" readonly/>
                    </div>
                </div>
                <div class="repeat-group clearfix">
                    <div class="input-group fl">
                        <span class="input-group-name fl">Key</span>
                        <input type="text" class="input-two fl" value="Type" readonly/>
                    </div>
                    <div class="input-group-connect fl">—</div>

                    <div class="input-group fl">
                        <span class="input-group-name fl">Value</span>
                        <input type="text" class="input-two fl" ng-model="serviceData.service.metadata.labels.type" readonly/>
                    </div>
                </div>

                <div class="repeat-group clearfix" ng-repeat="item in serviceLabelArray">
                    <div class="input-group fl">
                        <span class="input-group-name fl">Key</span>
                        <input type="text" class="input-two fl" ng-model="item.key"/>
                    </div>
                    <div class="input-group-connect fl">—</div>

                    <div class="input-group fl">
                        <span class="input-group-name fl">Value</span>
                        <input type="text" class="input-two fl" ng-model="item.value"/>
                    </div>
                    <i class="fa fa-minus-square fr" ng-click="deleteServiceLabel($index)"></i>
                </div>

            </div>

            <div class="form-group clearfix">
                <button class="btn button-primary fl" ng-click="serviceApply()">提交</button>
            </div>



        </form>
    </div>

    <ng-atomic-notify></ng-atomic-notify>


</div>