@media screen and (min-width: 992px){
    form {
        width: 600px;
    }
    .input-one {
        width: 500px;
    }
    .input-two {
        width: 180px;
    }
    .input-thr {
        width: 100px;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    form {
        width: 350px;
    }
    .input-one {
        width: 230px;
    }
    .input-two {
        width: 60px;
    }
    .input-thr {
        width: 20px;
    }
    .input-protocal .input-thr {
        width: 50px;
    }
}

form {
    margin-top: 20px;
}

form .fa{
    line-height: 30px;
    color: #bbb;
    font-size: 20px;
    cursor: pointer;
}
form .fa:hover {
    color: #3F51B5;
}

.form-group {
    margin-bottom: 20px;
}
.form-desc {
    line-height: 30px;
}
.form-group .form-error {
    color: #fff;
    line-height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f44336;
    width: 190px;
    text-align: center;
}
.form-error.ng-hide-remove-active {
    animation-name: bounceIn;
}
.form-error.ng-hide-add-active {
    animation-name: bounceOut;
}
.form-desc label{
    color: #000;
}
.form-desc span {
    color: #999;
    margin-left: 10px;
}

.form-input {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
}

.form-data-center label, .form-resource label{
    height: 100px;
    width: 150px;
    line-height: 100px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
    cursor: pointer;

}
.form-data-center input, .form-resource input {
    display: none;
}

.form-data-center .active, .form-resource .active {
    color: #3F51B5;
    border-color: #3F51B5;
}

.form-resource-title {
    height: 26px;
    line-height: 26px;
    background-color: #e1e1e1;
}
.form-resource-txt {
    margin: 17px 0;
    line-height: 20px;
}
.form-resource .active .form-resource-title{
    background-color: #3F51B5;
    color: #fff;
}
.repeat-group {
    margin: 10px 0;
}
.input-group span, .input-group input {
    border: 1px solid #e1e1e1;
    padding: 6px 8px;
}
.input-group p {
    line-height: 30px;
}
.input-group input[type=radio] {
    margin-top: 8px;
    margin-left: 50px;
}

.input-group-name {
    background-color: #f5f5f5;
}

.input-group-connect {
    margin: 0 10px;
    line-height: 28px;
    font-weight: bold;
}
.input-group select {
    border: 1px solid #e1e1e1;
    height: 28px;
}
.input-protocal {
    margin-left: 10px;
}
.more-setting {
    color: #3F51B5;
    line-height: 28px;
}





