.appManage-table {
	width: 100%;
}

.appManage-table table {
	width: 100%; 
	color: #767676;
}

.appManage-table table th,.appManage-table table td {
	padding: 30px 0;
	text-align: center;
	border-color: #eaeaea;
}

.appManage-table table th:first-child,.appManage-table table th:first-child {
	width: 60px;
}

.appManage-table table td p {
	padding: 15px 0;
	border-bottom: 1px solid #eaeaea;
}

.appManage-table table td p:last-child {
	border-bottom: none;
}

.appManage-table table td button {
	border: none;
	color: #fff;
}




















