.echart-box {
    width: 330px;
    height: 330px;
    margin: 0 20px 20px 0;
    border: 1px solid #eee;
    box-shadow: 0 1px 3px #212121;
}
.dashboard-item-title {
    font-size: 14px;
}
.handle-box {
    width: 800px;
    height: 400px;
}