<div>
	<h1 class="view-title">
        应用管理
    </h1>

    <div class="view-content">
    	<div class="view-content-search clearfix">
	    	<div class="fr">
	    		<input type="text" class="search-text fl" placeholder="请输入应用名称..." ng-model="searchInput" />
	    		<span class="fa fa-search search-button fl"></span>
	    	</div>	
    	</div>

    	<div class="appManage-table">
	    	<table>
		    	<thead>
			    	<tr>
			    		<th>ID</th>
			    		<th>应用名称</th>
			    		<th>应用实例</th>
			    		<th>运行状态</th>
			    		<th>创建时间</th>
			    		<th>数据中心</th>
			    		<th>发布人员</th>
			    		<th>操作</th>						
			    	</tr>
			    </thead>
			    <tbody ng-repeat=" list in appManageList | filter:searchInput ">
			    	<tr ng-repeat=" item in list.deployments ">
			    		<td> {{$index+1}}</td>
			    		<td> {{item.deploy.metadata.name}} </td>
			    		<td>
			    			<p ng-repeat="i in item.podList.items">
			    				{{i.metadata.name}}
			    			</p>
			    		</td>
			    		<td>
			    			<p ng-repeat="i in item.podList.items">
								<span class="state-back">
									<a  class="state-defult" ng-class="{'state-running': i.status.phase == 'Running','state-pending': i.status.phase == 'Pending','state-failed': i.status.phase == 'Failed','state-succeeded': i.status.phase == 'Succeeded','state-unknown': i.status.phase == 'Unknown'}"></a>
								</span>
			    			</p>
			    		</td>
			    		<td>
			    			<p ng-repeat="i in item.podList.items">
			    				{{i.metadata.creationTimestamp}}
			    			</p>
			    		</td>
			    		<td> {{list.dcName}} </td>
			    		<td> {{item.deploy.spec.selector.matchLabels.author}} </td>
			    		<td>
			    			<span>
			    				<button class="button-update" ng-click="toUpdate(list.dcName,item,list.dcId)">升级</button>
			    				<button class="button-rollback" ng-click="applyRollback(item)">回滚</button>
			    				<button class="button-capacity" ng-click="toCapacity(list.dcId,item)">扩容</button>
			    				<button class="button-delete" ng-click="toApplyDelete(list.dcId,item)">删除</button>
			    			</span>
			    		</td>
			    	</tr>
			    </tbody>
	    	</table>
    	</div>
    </div>

	<div loading class="loading" total="1" complete="complete"></div>

	<!-- 升级镜像页面 -->
	<window config="updateConfig" ng-if="window.update">
		<div class="window-tab clearfix" ng-init="tabSwitch=0">
			<div class="tab-switch fl" ng-class="{active:tabSwitch == 0}" ng-click="tabSwitch = 0">
				<i class="fa fa-home"></i> 滚动升级
			</div>
			<div class="tab-switch fl" ng-class="{active:tabSwitch == 1}" ng-click="tabSwitch = 1">
				<i class="fa fa-user"></i> 立即升级
			</div>
		</div>
		<div class="tab-content" ng-show="tabSwitch == 0">
			<form name="updateForm">
				<div>
					<p>
						<span>应用名称：</span> <b>应用名错误</b>
					</p>
					<p>
						<input type="text" ng-model="upDateData.appName" readonly />
					</p>
				</div>
				<div>
					<p>
						<span>数据中心：</span> <b></b>
					</p>
					<p>
						<input type="text" ng-model="dcName" readonly />
					</p>
				</div>
				<div>
					<p>
						<span>升级镜像：</span> <b ng-show="errorPrompt">镜像名称不统一</b>
					</p>
					<p>
						<input type="text" ng-click="getImageList()" ng-model="image" required  readonly/>
					</p>
				</div>
				<div>
					<p>
						<span>升级原因：</span> <b></b>
					</p>
					<p>
						<input type="text" ng-model="upDateData.comments" />
					</p>
				</div>
				<div class="button-wrap">
					<button class="button-submit" ng-click="updateSubmit()" ng-disabled="updateForm.$invalid">提交</button>
					<button class="button-submit">取消</button>
				</div>
			</form>
		</div>
		<div class="tab-content" ng-show="tabSwitch == 1"></div>
	</window>

	<!-- 镜像选取列表 -->
	<window config="imgSelectConfig" ng-if="window.select">
        <div class="window-select clearfix">
            <div class="filter-text">
                <input type="text" ng-model="imageInput"/>
            </div>
            <div class="filter-result">
                <ul class="filter-list">
                    <li ng-repeat="item in imageList | filter:imageInput" class="clearfix"
                        ng-click="selectImage(item)">
                        <i class="fl">{{$index + 1}}</i>
                        <p>{{item}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </window>

    <!-- 扩容 -->
    <window config="capacityConfig" ng-if="window.capacity">
		<div class="window-tab clearfix" ng-init="tabSwitch=0">
			<div class="tab-switch fl" ng-class="{active:tabSwitch == 0}" ng-click="tabSwitch = 0">
				<i class="fa fa-home"></i> 自动扩容
			</div>
			<div class="tab-switch fl" ng-class="{active:tabSwitch == 1}" ng-click="tabSwitch = 1">
				<i class="fa fa-user"></i> 手动扩容
			</div>
		</div>
		<div class="tab-content" ng-show="tabSwitch == 0">
			<form name="capacityForm">
				<div>
					<p>
						<span>应用名称：</span> <b>应用名错误</b>
					</p>
					<p>
						<input type="text" ng-model="capacityData.appName" readonly />
					</p>
				</div>
				<div>
					<p>
						<span>镜像名称：</span> <b></b>
					</p>
					<p>
						<input type="text" ng-model="capacityData.imageName" readonly />
					</p>
				</div>
				<div>
					<p>
						<span>实例个数：</span> <b></b>
					</p>
					<p> 
						<rzslider rz-slider-model="capacityData.newSize"
                          rz-slider-options="slider.options"></rzslider>
	 				</p>
				</div>
				<div class="button-wrap">
					<button class="button-submit" ng-click="capacitySubmit()" ng-disabled="capacityForm.$invalid">提交</button>
					<button class="button-submit">取消</button>
				</div>
			</form>
		</div>
		<div class="tab-content" ng-show="tabSwitch == 1"></div>
	</window>

	<!-- 删除 -->
	<window config="applyDeleteConfig" ng-if="window.applyDelete">
		<div class="window-tab clearfix" ng-init="tabSwitch=0">
			<p>您确定删除么？</p>
		</div>
		<div class="button-wrap">
			<button class="button-submit" ng-click="applyDeleteSubmit()" >确定</button>
			<button class="button-submit">取消</button>
		</div>
	</window>

	<!-- 回滚 -->
	<window config="applyRollbackConfig" ng-if="window.applyRollback">
		<div class="window-tab clearfix" ng-init="tabSwitch=0">
			<ul class="rollback-ul">
				<li>
					<span class="fl">11</span>
					<span class="fl">22</span>
				</li>
			</ul>
			

		</div>
		<div class="button-wrap">
			<button class="button-submit" ng-click="applyDeleteSubmit()" >确定</button>
			<button class="button-submit">取消</button>
		</div>
	</window>











    <ng-atomic-notify></ng-atomic-notify>

</div>
