<div>
	<h1 class="view-title">
        镜像管理
    </h1>
    <div class="view-content">

    	<div class="view-content-search clearfix">
	    	<div class="fr">
	    		<input type="text" class="search-text fl" placeholder="请输入应用名称..." ng-model="searchInput" />
	    		<span class="fa fa-search search-button fl"></span>
	    	</div>	
    	</div>

    	<div class="appManage-table">
	    	<table>
		    	<thead>
			    	<tr>
			    		<th>ID</th>
			    		<th>镜像名称</th>
                        <th>标签组合</th>
                        <th>操作</th>							
			    	</tr>
			    </thead>
			    <tbody ng-repeat=" item in imageManageList | filter:searchInput ">
			    	<tr>
			    		<td> {{$index+1}}</td>
			    		<td> {{item.name}} </td>
			    		<td> 
			    			<p ng-repeat="i in item.tags">
			    				{{i}} 
			    			</p>
			    		</td>
			    		<td>
			    			<span>
			    				<button class="button-modify">修改</button>
			    				<button class="button-delete">删除</button>
			    			</span>
			    		</td>
			    	</tr>
			    </tbody>
	    	</table>
    	</div>
    </div>
</div>
