button {
	padding: 7px 14px;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
}
.button-update {
	background: #FFC107;
}

.button-rollback {
	background: #4CAF50;
}

.button-capacity {
	background: #03A9F4;
}

.button-delete {
	background: #f44336;
}

.button-submit {
	background: #3f52b5;
}
.button-modify {
	background: #673AB7;
}
