button {
	padding: 7px 14px;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
}
.button-Upgrade {
	background: #FFC107;
}

.button-Rollback {
	background: #4CAF50;
}

.button-Capacity {
	background: #03A9F4;
}

.button-Delete {
	background: #f44336;
}

.button-Modify {
	background: #3F51B5;
}

.button-Primary {
	background-color: #3F51B5;
}
.button-Submit {
	background-color: #3f52b5;
}
.button-Updata {
	background-color: #ccc;
}
.button-Cancel {
	background-color: #9e9e9e;
}

