.loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #fff;

}
.loading-progress {
    background-color: #CC3333;
    height: 3px;
    width: 90%;
    transition: .5s all linear;
}