/**
 * @desc: 基本样式库
 * @author: Mark
 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
html,body {
    width: 100%;
    height: 100%;
    background-color: #eee;
    overflow-x: hidden;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

a {
    text-decoration: none;
    color: #fff;
}


li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: normal;
}

i, em {
    font-style: normal;
}

img {
    vertical-align: top;
}

a img {
    border: 0;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.clearfix {
    zoom: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eaeaea;
}

table th,table td {
    padding: 20px 0;
    text-align: center;
    border: 1px solid #eaeaea;
}
table th:first-child,table th:first-child {
    width: 60px;
}

table td p {
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
}

table td p:last-child {
    border-bottom: none;
}

input {
    outline: none;
}
input[type=text] {
    border: 1px solid #e1e1e1;
}
input[readonly] {
    background-color: #eee;
}
input:focus {
    background-color: #f8f8f8;
}